<div class="content-wrapper">

  <h1>Good Morning, <%= @user.user_info.first_name %> </h1>

  <h2>Your Categories</h2>
  <div class="categories-cards-container">
    <% @user.categories.each do |category| %>
      <%= link_to category do %>
        <div class="category-card">
          <div class="category-card-content">
            <div class="category-progress">
              <% category.missions.each do |mission| %>
                <% habits_done = mission.habits.where(status: true) %>
                <% habits_total = mission.habits.count%>
                <% progress = habits_done.count.to_f.round(2) / habits_total.to_f.round(2) %>
                <% result = progress.round(2) * 100 %>
                <div class="progressdiv"  data-percent=" <%= result.ceil %> ">
                  <svg class="progress" width="88" height="88" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle r="35" cx="44" cy="44" fill="transparent" stroke-dasharray="219.5" stroke-dashoffset="0" style=" stroke: <%= category.color %> "></circle>
                  <circle class="bar" r="35" cx="44" cy="44" fill="transparent" stroke-dasharray="219.5" stroke-dashoffset="0" ></circle>
                </svg></div>
              <% end %>
            </div>
            <div class="category-info">
              <h4 style="color: <%= category.color %> "><%= category.title %></h4>
              <p>Last week 98%</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to '+', new_category_path, class:"category-card add-category" %>
  </div>

  <br><br>

  <h2>Your Missions </h2>
  <div class="missions-cards-container">
    <% @user.missions.each do |mission| %>
      <%= link_to mission do %>
        <div class="mission-card">
          <div class="mission-card-content">


          </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to '+', new_mission_path, class:"mission-card add-mission" %>
  </div>

  <br><br>

  <h2>Your Habits </h2>
  <table>
    <tbody>
      <% @user.habits.each do |habit| %>
      <tr>
        <td><%= habit.title %></td>
        <td> <%= link_to 'Show habit', habit %> </td>
        <td> <%= link_to 'Edit habit', edit_habit_path(habit) %> </td>
        <td> <%= link_to 'Delete habit', habit, method: :delete, data: { confirm: 'Are you sure?'} %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create new habit', new_habit_path(@user) %>




  <h2>Your Missions </h2>
  <table>
    <tbody>
      <% @user.missions.each do |mission| %>
        <tr>
          <td><%= mission.title %></td>
          <td> <%= link_to 'Show mission', mission %> </td>
          <td> <%= link_to 'Edit mission', edit_mission_path(mission) %> </td>
          <td> <%= link_to 'Delete mission', mission, method: :delete, data: { confirm: 'Are you sure?'} %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create new mission', new_mission_path(@user) %>




</div>



<!-- <table>
  <tbody>
    <% @user.categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td> <%= link_to 'Show category', category %> </td>
        <td> <%= link_to 'Edit category', edit_category_path(category) %> </td>
        <td> <%= link_to 'Delete category', category, method: :delete, data: { confirm: 'Are you sure?'} %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create new category', new_category_path %> -->
