<div class="content-wrapper">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @category.title %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @category.color %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @category.user_id %>
  </p>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', root_path %>
</div>
